{% extends 'base.html' %}

{% block content %}
{% if request.user.profile.is_owner %}

<div class="panel panel-default">
  <div class="panel-body">
    <form class="" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-success btn-lg" value="Submit">
  </form>
  </div>
</div>

  {% for item in item_list %}
  <div class="panel panel-default">
    <div class="list-group">
      <a href="{% url 'item_update_view' item.id %}" class="list-group-item list-group-item-info">Update Menu Item</a>
    </div>
    <div class="panel-body">
      <h4>{{ item }}</h4>
      <br>
      <h5>{{ item.description }}</h5>
      <br>
      <h5>${{ item.price }}</h5>
      <br><hr>
    </div>
  </div>

  {% endfor %}
{% else %}
  Permission Denied - Access Forbidden.
{% endif %}

{% endblock %}
