{% extends 'base.html' %}

{% block content %}
{% if not request.user.profile.is_cook %}
<div class="row">
<div class="col-md-6">

<div class="panel panel-default">
  <div class="panel-body">
    <form class="" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-success btn-lg pull-right" role="button" value="Submit">
  </form>
</div>
</div>
</div>
</div>

{% else %}
  Permission Denied - Access Forbidden.
{% endif %}
{% endblock %}



<!-- <div class="container">
  {% for order in order %}

  Table:
  {{order.table.id}}
  {{order.item}}
  {{order.notes}}
  <br>
  {% endfor %}


  </div> -->
