{% extends 'base.html' %}
{% block content %}
{% for order in object_list%}
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8"></div>
        <div class="col-md-10"></div>
          <div class="btn-toolbar" role="group">
            <a href="{% url 'cook_update_view' order.id %}" class="btn btn-success btn-lg" role="button">Complete</a>
          </div>
          <div class="col-md-4">
            <p>
          {{ order.id }}
          {{ order.item }}
          {{ order.notes }}
          {{ order.item.price }}
          </p>
          </div>
    </div>
  </div>
</div>
{% endfor %}
  {{ object.paid }}
  {{ object.total }}

{% endblock %}
