{% extends 'base.html' %}

{% block content %}
{% if self.request.user.profile.is_owner or self.request.user.profile.is_server %}
  <form class="" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="" value="Submit">
  </form>
{% else %}
Permission Denied - Access Forbidden.
{% endif %}
{% endblock %}



<div class="container">
  {% for order in order %}

  Table:
  {{order.table.id}}
  {{order.item}}
  {{order.notes}}
  <br>
  {% endfor %}


  </div>
