{% extends 'base.html' %}

{% block content %}
{% if request.user.profile.is_owner or request.user.profile.is_server %}
<div class="container">
  <div class="row">
  <div class="col-md-6">
  <form class="" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="" class="btn btn-success btn-lg" value="New Table">
  </form>
  </div>
    <hr>
    <div class="col-md-6">
    <div class="btn-toolbar" role="toolbar">
      {% for table in table_list %}
        {% if table.paid == False %}
        <div class="col-md-2">
        <br>
        <a href="{% url 'table_delete_view' table.id %}" class="btn btn-danger btn-sm">delete {{table.id}}</a> </div>
        <div class="col-md-2">
          <br>
        <a href="{% url 'table_detail_view' table.id %}" class="btn btn-info btn-lg" role="button"><h1>{{ table.id }}</h1></a></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
</div>
{% else %}
Permission Denied - Access Forbidden.
{% endif %}
{% endblock %}



{% if self.request.user.profile.is_owner or self.request.user.profile.is_server %}
{% else %}
Permission Denied - Access Forbidden.
{% endif %}
<!-- <a href="{% url 'order_create_view' table.id %}">{{ table.id }}</a> -->
