{% extends 'base.html' %}

{% block content %}
{% if self.request.user.profile.is_owner or self.request.user.profile.is_server %}
<div class="container">
  <form class="" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="" class="btn btn-success" value="Create Table">
  </form>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-6">

    <div class="btn-toolbar" role="toolbar">
      {% for table in table_list %}
        {% if table.paid == False %}
        <a href="{% url 'table_detail_view' table.id %}" class="btn btn-info btn-lg" role="button">{{ table.id }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  </div>
</div>
{% else %}
Permission Denied - Access Forbidden.
{% endif %}
{% endblock %}
<!-- <a href="{% url 'order_create_view' table.id %}">{{ table.id }}</a> -->
