{% extends 'base.html' %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="btn-toolbar" role="toolbar">
<a href="{% url 'order_create_view' object.id %}" class="btn btn-success btn-md" role="button">New Order</a>
<a href="{% url 'table_create_view' %}" class="btn btn-info btn-md" role="button">Back</a>
</div>
{% for order in object.all_orders %}
  <hr>
  {{ order.item }}
  <br>
  {{ order.notes }}
  <br>
  {{ order.item.price }}
  <a href="{% url 'order_update_view' order.id %}" class="btn btn-warning btn-sm pull-right" role="button">Update Order</a>
  <br><br>
  <a href="{% url 'order_delete_view' order.id %}" class="btn btn-danger btn-sm pull-right" role="button">Delete Order</a>
  <br><br>
{% endfor %}
</div>
<div class="panel-heading">
  Bill Paid: {{ object.paid }}
  <br>
  Total Bill: {{ object.total }}
  <div class="pull-right">
    <a href="{% url 'table_update_view' object.id %}">Pay Order</a>
  </div>
</div>
</div>
{% endblock %}
