{% extends 'base.html' %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="btn-toolbar" role="toolbar">
    <a href="{% url 'order_create_view' object.id %}" class="btn btn-info btn-lg pull-right" role="button">Add Order</a>
    <a href="{% url 'table_create_view' %}" class="btn btn-default btn-lg pull-left" role="button">Back to Tables</a>
    <h4 align='center'>Table {{ object.id }}</h4>
    </div>
  </div>
  <div class="panel-body">
{% for order in object.all_orders %}
  <hr>
  <h3>{{ order.item }}</h3>
  <h4 style="color:red;">{{ order.notes }}</h4>
  <h4>${{ order.item.price }}</h4>
  <a href="{% url 'order_update_view' order.id %}" class="btn btn-warning btn-lg pull-right" role="button">Update Order</a>
  <br><br><br>
  <a href="{% url 'order_delete_view' order.id %}" class="btn btn-danger btn-lg pull-right" role="button">Delete Order</a>
  <br><br>
{% endfor %}
</div>
<div class="panel-footer">
  <a href="{% url 'table_update_view' object.id %}" class="btn btn-success btn-lg pull-right" role="button">Pay Order</a>
  <h4>Total: ${{ object.total }}</h4>
  <br><br>
</div>
</div>
{% endblock %}
