{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mighty Restaurant</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <style media="screen">
      body{
        background-color: rgb(201, 240, 221);
        color: rgb(12, 60, 38);
      }

    </style>
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container-fluid">
        <div class="nav navbar-nav">
      <li><a href="{% url 'home_view' %}">Home</a></li>
      <li><a href="{% url 'user_create_view' %}">Create User</a></li>
        {% if not request.user.is_authenticated %}
      <li><a href="{% url 'login' %}">Login</a></li>
        {% else %}
      <li><a href="{% url 'logout' %}?next={% url 'home_view' %}">Logout</a></li>
      {% endif %}
      <li><a href="#">Welcome, {{ request.user }}</a></li>
      <hr>
        </div>
      </div>
    </div>
<div class="container">
<h1>Welcome to Goodburger!</h1></div>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="btn-toolbar" role="toolbar">
                {% if request.user.is_authenticated %}
                  {% if request.user.profile.is_owner %}
                    <a href="{% url 'table_create_view' %}" class="btn btn-primary btn-lg" role="button">View Tables</a>
                    <a href="{% url 'cook_list_view' %}" class="btn btn-primary btn-lg" role="button">Cook View</a>
                    <a href="{% url 'item_create_view' %}" class="btn btn-primary btn-lg" role="button">New Menu Item</a>

                  {% elif request.user.profile.is_server %}
                    <a href="{% url 'table_create_view' %}" class="btn btn-primary btn-lg" role="button">View Tables</a>
                  {% else %}
                    <a href="{% url 'cook_list_view' %}" class="btn btn-primary btn-lg" role="button">Cook View</a>
                  {% endif %}
                {% else %}
                  <a href="{% url 'login' %}" class="btn btn-default btn-sm" role="button">Login to Access System</a>
                {% endif %}
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
    <div class="container">
    {% block content %}

    {% endblock %}
    </div>
  </body>
</html>
