{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mighty Restaurant</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <style media="screen">
      body{
        background-color: rgb(201, 240, 221);
        color: rgb(12, 60, 38);

      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Goodburger!</h1>
      {% block content %}

      {% endblock %}
    </div>

  </body>
</html>
